### Dynamics 365 Business Central AL ###
# VSCode settings
.vscode/

# Cache folders
.alcache/
.alpackages/
.snapshots/
.output/

# Build artifacts
*.app

# RAD
rad.json

# Translation files
*.g.xlf

# License file
*.flf

# Test results
TestResults.xml

# Environment configuration (keep secrets safe)
.env
.env.*
